body{
    background-color: #e9b34f;

 font-family:'Trebuchet MS', sans-serif;
 margin:0;/*removes default margin*/
 padding:0;/*removes default padding*/
}
#container{
    width: 80%;/*page takes 80 perc of screen width*/
    margin:10px auto;/*centres the page horizontally*/
    border:3px solid #db2bdb;/*adds border around*/
    background-color:#fdfdfd;/*white background*/
    padding : 100 px;/*space inside container*/
    box-shadow :0 0 10px hsl(17, 56%, 39%);/*soft shadow*/
}
#header{ 
    text-align: center;
    border-bottom: 2px solid #6dd6da;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.subtitle{
    color:#46069b;
    font-style: italic;
}
#main{
    display: flex;
}
#sidebar{
    width: 25%;
    background-color: #0dd1eb;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}
#content{
    width: 80%;
 margin-left: 5px;
}
.post{
    border:3px solid #76b15f;
    background-color: #4bcee6;
     margin-bottom: 15px;
     border-radius: 8px;
     padding: 15px;
}
.post h3{
    color:#19474d
}

